  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 2%;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 20%;
    max-width: 20%;
    padding: 1%;
    box-sizing: border-box;
  }
  
  .imgSearch{    
    border-radius: 5%;
    width:100%;
    margin-top: 18px;
    vertical-align: middle;
  }
  
  @media (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  @media (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }